/* .questionForm {
  display: flex;
  flex-direction: column;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  margin: 0.4rem;
  border-radius: 12px;
  background-color: #4b4b4b;
}

.card-inner {
  padding: 0.5rem;
}

.container {
  width: 80%;
  padding: 20px;
}

.container h2 {
  width: 98%;
  color: rgb(255, 255, 255);
  font-size: 18px;
  text-align: center;
  margin-bottom: 10px;
}

.container .row100 {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.container .row100 .col {
  position: relative;
  width: 100%;
  padding: 0 10px;
  margin: 30px 0 10px;
  transition: 0.5s;
}

.container .row100 .inputBox {
  position: relative;
  width: 100%;
  height: 40px;
  color: rgb(255, 255, 255);
}

.container .row100 .inputBox input {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 0 10px;
  z-index: 1;
  color: rgb(255, 255, 255);
}

.container .row100 .inputBox .text {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 40px;
  font-size: 18px;
  padding: 0 10px;
  display: block;
  transition: 0.5s;
  pointer-events: none;
}

.container .row100 .inputBox input:focus + .text,
.container .row100 .inputBox input:valid + .text,
.container .row100 .inputBox input:disabled + .text {
  top: -35px;
  left: -10px;
}

.container .row100 .inputBox .line {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: rgb(31, 31, 31);
  transition: 0.5s;
  border-radius: 2px;
  pointer-events: none;
}
.container .row100 .inputBox input:focus ~ .line,
.container .row100 .inputBox input:valid ~ .line,
.container .row100 .inputBox input:disabled ~ .line {
  height: 100%;
}

.container .row100 .inputBox .submit {
  border: none;
  padding: 7px 35px;
  cursor: pointer;
  outline: none;
  background: rgb(31, 31, 31);
  color: rgb(255, 255, 255);
  font-size: 18px;
  border-radius: 2px;
}

/* optionBox */

.container .row100 .optionBox {
  position: relative;
  width: 100%;
  height: 40px;
  color: rgb(255, 255, 255);
}

.container .row100 .optionBox input {
  position: absolute;
  width: 60%;
  height: 100%;
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 0 10px;
  z-index: 1;
  color: rgb(255, 255, 255);
}

.container .row100 .optionBox .line {
  position: absolute;
  bottom: 0;
  display: block;
  width: 60%;
  height: 2px;
  background: rgb(31, 31, 31);
  transition: 0.5s;
  border-radius: 2px;
  pointer-events: none;
}

.container .row100 .optionBox .text {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 40px;
  font-size: 18px;
  padding: 0 10px;
  display: block;
  transition: 0.5s;
  pointer-events: none;
}

.container .row100 .optionBox input:focus + .text,
.container .row100 .optionBox input:valid + .text,
.container .row100 .optionBox input:disabled + .text {
  top: -35px;
  left: -10px;
}

.container .row100 .optionBox input:focus ~ .line,
.container .row100 .optionBox input:valid ~ .line,
.container .row100 .optionBox input:disabled ~ .line {
  height: 100%;
}

.container .row100 .optionBox .btn-div {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  height: 40px;
}

.container .row100 .optionBox .btn {
  align-self: center;
  border: none;
  margin-left: 5px;
  padding: 5px 15px;
  cursor: pointer;
  outline: none;
  background: rgb(31, 31, 31);
  color: rgb(255, 255, 255);
  font-size: 18px;
  border-radius: 2px;
}
