.card {
  margin: 0.4rem auto;
  background-color: rgb(31, 31, 31);
  width: 50rem;
  max-width: 95%;
  border: 3px solid transparent;
  border-radius: 12px;
  padding: 0.5rem;
}

.card-inner {
  margin: 0.4rem auto;
  background-color: #4b4b4b;
  width: 50rem;
  max-width: 95%;
  border-radius: 12px;
  padding: 0.5rem;
}
